<div class="form-container">
  <div class='form-body'>
    <span class="material-symbols-outlined">account_circle</span>
    <p class="login-text">Logeate</p>
      <form onsubmit='login(event)'>
        <input id='form-email' type='text' name='form-email' placeholder='Email' required/>
        <input id='form-password' type='password' name='form-password' placeholder='Contraseña' required/>
        <input type='submit' value='Login' />
        {{#if errorMessage}}
          <div class="errorLogin"><p>{{errorMessage}}</p></div>
        {{/if}}
      </form>
      <p class="noCuenta">No tienes cuenta? <a href="/register">Registrate</a></p>
      <p class="noCuenta"><a href="/password_reset">Olvidaste tu contraseña?</a></p>
      <p class="noCuenta">- o -</p>
      <a href="/api/auth/github" class="login-github"><button><i class="fa-brands fa-github"></i>Logearse con GitHub</button></a>
    </div>
  </div>
</div>
<script src='js/login.js'></script>