<div class='form-container'>
      <div class="form-body">
        <span class="material-symbols-outlined">account_circle</span>
        <p class="login-text">Registrate</p>
        <form onsubmit="register(event)">
          <input id='form-firstName' type='text' name='form-firstName' placeholder='Nombre'  required/>
          <input id='form-lastName' type='text' name='form-lastName' placeholder='Apellido'  required/>
          <input id='form-email' type='text' name='form-email' placeholder='email'  required/>
          <input id='form-age' type='number' name='form-age' placeholder='edad' required/>
          <input id='form-password' type='password' name='form-password' placeholder='password' required/>
          <input type='submit' value="Register" />
          <div class="errorRegister"></div>
          <p>Cuentas con un usuario? <a href="/login">Logeate aqui</a></p>
        </form>
    </div>
</div>
<script src='js/register.js'></script>