<div class="reset-password-container">
    <h1>Ingresa tu nueva contraseña</h1>
    <form id="send_reset_password">
        <label for="password">Nueva contraseña:</label>
        <input type="password" id="password" name="password" placeholder="Ingrese su nueva contraseña" required>
        <label for="password-repeat">Repetir contraseña:</label>
        <input type="password" id="password-repeat" name="password-repeat" placeholder="Repita la contraseña" required>
        <div class="errorRegister"></div>
        <button type="submit">Enviar</button>
    </form>
    {{> footer}}
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="../js/reset-password-ok.js"></script>